*~
*.bck
bin
build
_build
.bzr
.bzrignore
.chutifab
.coverage
coverage*
develop-eggs
dist
downloads
*.egg
*.EGG
*.egg-info
*.EGG-INFO
eggs
fake-eggs
.hg
.hgignore
.idea
.installed.cfg
*.jar
*.mo
.mr.developer.cfg
nosetest*
*.old
*.orig
parts
*.pyc
*.pyd
*.pyo
*.so
src
.svn
*.swp
.tox
*.tmp*
var
*.wpr
