include LICENSE *.rst *.cfg *.ini pyproject.toml uv.lock .coveragerc
graft aiocron
graft tests
graft docs
prune docs/_build
prune .github
recursive-include examples *.py
global-exclude *.pyc __pycache__