graft docs
prune docs/_build
graft aiocron
graft tests
include *.rst *.cfg *.ini LICENSE
global-exclude *.pyc
global-exclude __pycache__
include .coveragerc
recursive-include examples *.py
exclude .installed.cfg
