[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
croniter = "*"
tzlocal = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
pydocstyle = "*"
mypy = "*"

[requires]
python_version = "3.7"
